<div>
    <h3>Search History</h3>
    <div class="history-row-header">
        <span>Search Term</span>
        <span>Service</span>
        <span>Search Date</span>
        <span>Results</span>
    </div>
    <div class="history-row" ng-repeat="history in histories" ng-click="history.service == 'flickr' ? searchFlickr(history.tagsObj, 1, true) : searchPixabay(history.tagsObj, 1, true)">
        <span>{{history.term}}</span>
        <span>{{history.service}}</span>
        <div class="date">
            <span title="{{history.time.time}}">{{history.time.day}}</span>
            <i class="fa fa-info" aria-hidden="true" title="{{history.time.day}} {{history.time.time}}"></i>
        </div>
        <span>{{history.resNum}}</span>
    </div>
    <input type="button" class="clr-history" ng-click="clearHistory()" value="Clear History"/>
</div>